
.header img {
    padding: 0%;
    margin: auto;
    display: flex;
    flex: content;
    justify-content: center;
    align-content: center;
}

.header h1 {
    margin-top: 0%;
    color: rgb(4, 5, 5);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}



.timer {
    display: flex;
    flex: content;
    justify-content: flex-end;
    align-items: center;
    color: rgb(194, 55, 55);

}

.intro p {
    padding: 20px;
    text-align: center;
}

.hide {
    display: none;
}

#questions {
    background-color: white;
    color: black;
    border: 2px solid rgb(64, 121, 158); 
    text-align: center;
}
